.container {
    background-color: white;
    width: 140px;
    height: 170px;
    color: black;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.container img {
    width: 70px;
    height: 70px;
}

.location {
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.temperatures {
    display: flex;
    gap: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;   
    margin-top: -5px;
}

.night_temperature {
    color: rgb(146, 146, 146);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    height: 220px;
}

@media only screen and (max-width: 720px) {
    .container {
        width: 32vw;
        height: 32vw;
    }

    .container img {
        width: 13vw;
        height: 13vw;
    }

    .card {
        height: 40vw;
        gap: 1vw;
    }
}
@media only screen and (max-width: 497px) {
    .container {
        width: 80vw;
        height: 32vw;
    }

    .card {
        height: 45vw;
    }

    .location {
        font-size: 4vw;
    }

    .temperatures {
        font-size: 4vw;
    }
}
