@font-face {
  font-family: "Lato-Black";
  src: url("../assets/fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.ttf");
}

:root {
  font-family: "Lato-Black", "Lato-Light";

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
