.main {
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 20px;
    height: auto;
    padding-top: 3vh;
    padding-bottom: 4vh;
    width: 48vw;
    min-width: 40%;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container p {
    padding-left: 4px;
    font-size: 50px;
    margin: 0;
}

.container sub{
    font-size: 18px;
}

.icon {
    position: relative;
    font-size: 30px;
    bottom: -0.5vh;
}

@media only screen and (max-width: 1000px) {
    .main {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 1vw;
    }
    .container {
        margin: 0 2vw 0 2vw;
        max-height: 12vw;
        padding: 1vw 0 1vw 0;
    }
    .container p {
        font-size: 6vw;
    }
    .icon {
        font-size: 5vw;
    }
}
@media only screen and (max-width: 600px) {
    .main {
        width: 80vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        margin: 0 2vw 0 2vw;
        max-height: 12vw;
    }

    .container p {
        font-size: 8vw;
    }
    .icon {
        font-size: 7vw;
    }
}